h1 {
  text-align: center;
  color: #ff4411;
  font-size: 48px;
  font-family: 'Signika', sans-serif;
  padding-bottom: 10px;
}

.addDrink {
  margin: 3rem;
  margin-right: 47%;
  margin-left: 47%;
}

.toggleButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 40px;
}
