.drink {
  width: 30vw;
  flex-direction: column;
  height: auto;
  margin: 1rem;
  border: 5px solid black;
  background-color: whitesmoke;
}

.label {
  color: red;
}

.trash-image {
  widows: 25px;
  height: 25px;
  margin-left: 45%;
  margin-bottom: 5%;
}

.trash-image:hover {
  background: red;
  border-color: #292929;
  color: #292929;
}
